

<md-tab-group>
  <md-tab *ngFor="let tg of todoGroups">
    <ng-template md-tab-label>
      {{ tg.title }}
    </ng-template>
    <h1>tab entry</h1>
    <p>...</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>thumb_down</md-icon> The worst sushi
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>

<!--
<div>
    <div *ngFor="let todo of todoEntries">
        <md-card class="todo-card">
            <md-card-header>
                <div md-card-avatar class=""></div>
                <md-card-title>{{ todo.title }}</md-card-title>
                <md-card-subtitle>{{ todo.description }}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <div *ngFor="let entry of todo.items">
                    <p>{{ entry.data }}</p>
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-button>Save</button>
            </md-card-actions>
        </md-card>
        <hr/>
    </div>
</div>
-->
