
@import '~@angular/material/theming';
@include mat-core();


$primary: mat-palette($mat-orange);
$accent: mat-palette($mat-light-blue);
$warn: mat-palette($mat-red);

$valyrian-theme: mat-light-theme($primary, $accent, $warn);


@import "groot-valyrian.scss";
@import "../ui/todoentry/todoentry.component.theme.scss";


@mixin valyrian-theme($theme) {
  @include stark-card-theme(theme);
}


@include angular-material-theme($valyrian-theme);

@include valyrian-theme($valyrian-theme);
