
// Global styles on app component /w view encapsulation none

body {
    font-family: 'Roboto', Verdana, Gotham, sans-serif;
  
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
