


$black: #000000;
$white: #FFFFFF;

$gray: #63666A;
$light-gray: #F5F5F5;
$gray-2: #DDDDDD;
$gray-3: #7F8C8D;
$gray-4: #888888;

$green: #78BE20;
$green-60: rgba(120, 190, 32, .6);
$green-10: rgba(120, 190, 32, .1);
$green-dk: #659E19;

$orange: #F2A900;
$orange-60: rgba(242, 169, 0, .6);
$orange-10: rgba(242, 169, 0, .1);
$blue: #418FDE; 
$teal: #00AEC7;

$yellow: #FFD800;
$yellow-60: rgba(255, 216, 0, .6);
;

$light-yellow: #FFF19E;
$light-yellow-60: rgba(255, 241, 158, .6);

$red: #F26363;
$pink: #FABCBC;


$error: #FF0000;
$error-60: rgba(255, 0, 0, .6);


