
@import "./groot-variables.scss";


.gray {
    color: $gray !important;
}

.green {
    color: $green !important;
}

.orange {
    color: $orange !important;
}

.yellow {
    color: $yellow !important;
}

.blue {
    color: $blue !important;
}

.teal {
    color: $teal !important;
}

.red {
    color: $red !important;
}



.dataTable tbody tr:hover {
    background-color: $orange-60;
}

/*
.required {
    border-left: 5px solid $green;
}


.required-error, .required-error > button {
    border-left: 5px solid $red;
}

li.required {
    border-left: 5px solid $green;
}
*/

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $green;
}
.ng-invalid:not(form)  {
  border-left: 5px solid $red;
}
