
<nav class="navbar navbar-toggleable-md navbar-default fixed-top bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
          <span><img alt="Strath Demo" src="#"/></span>
              <span class="text">Strath Demo</span>
    </a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/secure">Secure</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-default btn-sm">Sign in</button>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome <b>Strath</b>!
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">I am Groot</a>
            <a class="dropdown-item" href="#">I am Groot</a>
            <a class="dropdown-item" href="#">I am Groot</a>
          </div>
        </li>
          
      </ul>
    </div>
  </nav>
  