
<md-card class="stark-card">
    <md-card-header>
        <md-card-title class="stark-card-title">{{todoEntry?.title}}</md-card-title>
        <md-card-subtitle>{{todoEntry?.description}}</md-card-subtitle>
    </md-card-header>

    <md-card-content>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let i of todoEntry?.items">
                {{i?.data}}
            </li>
        </ul>

    </md-card-content>
    <md-card-footer class="stark-card-footer">
        Last updated: {{todoEntry?.lastUpdated|date:'short'}}
    </md-card-footer>
</md-card>
