
<h1 md-dialog-title>
    Edit this Cabbage:
</h1>

<div md-dialog-content>
    <form [formGroup]="todoEntryForm" (ngSubmit)="onSubmit()" novalidate>

        <div fxLayout="column">
            <md-input-container class="fullwidth" fxFlex>
                <input mdInput placeholder="Title" id="title" name="title" formControlName="title">
            </md-input-container>
        </div>

        <div fxLayout="row">
            <md-input-container class="fullwidth" fxFlex>
                <input mdInput placeholder="Description" id="description" name="description" formControlName="description">
            </md-input-container>
        </div>

    </form>
</div>

<div md-dialog-actions align="end">
    <button md-button color="primary" (click)="submit()" [disabled]="todoEntryForm.pristine">Save</button>
    <button md-button (click)="revert()" [disabled]="todoEntryForm.pristine">Revert</button>
</div>

<!--<p>todoEntryForm value: {{ data | json}}</p>-->
