

<div class="card-header">{{todoEntry?.title}}</div>
<!--<img class="card-img-top" src="http://via.placeholder.com/150x25" alt="Card image cap">    -->
<div class="card-body">

    <p class="card-title">{{todoEntry?.description}}</p>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let i of todoEntry?.items">
            {{i?.data}}
        </li>
    </ul>
</div>
<div class="card-footer text-muted">
    Last updated: {{todoEntry?.lastUpdated|date:'short'}}
</div>
