
<md-card class="stark-card">
    <md-card-header>
        <md-card-title class="stark-card-title">{{todoEntry?.title}}</md-card-title>
        <md-card-subtitle>{{todoEntry?.description}}</md-card-subtitle>
    </md-card-header>

    <md-card-content class="stark-card-content">

        <md-list>
            <md-list-item *ngFor="let i of todoEntry?.items; let n = index">
                <p md-line>
                    <checkbox-item [isChecked]="i?.isDone" [data]="i?.data"></checkbox-item>
                </p>
            </md-list-item>
        </md-list>

    </md-card-content>
    <md-card-footer class="stark-card-footer">
        <div>
            Last updated: {{todoEntry?.lastUpdated|date:'medium'}}
        </div>
    </md-card-footer>
</md-card>
