
@import '~@angular/material/theming';

@mixin stark-card-theme($theme) {

    $primary: mat-palette($mat-orange);
    $accent: mat-palette($mat-light-blue);
    $warn: mat-palette($mat-red);
    

    .stark-card {
        border-top: solid 3px mat-color($accent);
    }
    .stark-card-footer {
        border-top: solid 1px mat-color($accent);
    }
}